:root {
    --background-color: #ffffff;
    --shadow-color: #bababa;
    --text-color: #000000;
    --form-visible: inline;
    --lunch-visible: none;
}
body {
    background-color: var(--background-color);
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}
.box {
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 3px;
    box-sizing: border-box;
    margin: auto;
}
.inline {
    display: inline;
}
h1, h3, form {
    margin: 20px;
    text-align: center;
}
h1 {
    font-size: 3em;
}
.form {
    display: var(--form-visible);
}
.lunch {
    display: var(--lunch-visible);
}
